<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Animes Detail Clasifications</ion-title>
    <ion-buttons slot="start">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina inicio</ion-title>
      <ion-card class="presentation-card">
        <ion-card-header>
          <ion-card-title>Presentación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Nombre:</strong> Jesús David Castellar Julio</p>
          <p><strong>Descripción:</strong> Primer trabajo de programación en app Ionic</p>
          <ion-back-button defaultHref="home" ></ion-back-button>
        
        </ion-card-content>
      </ion-card>
    </ion-toolbar>
  </ion-header>
</ion-content>
