<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Top Animes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let anime of popularAnimes" [routerLink]="['/home/detail', anime.mal_id]">
      <ion-thumbnail slot="start">
        <img [src]="anime.images.jpg.image_url" alt="{{ anime.title }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ anime.title }}</h2>
        <p>Score: {{ anime.score }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
